$primary-black-color: rgb(0, 0, 0);
$secondary-blue-color: rgb(8, 166, 228);
$tertiary-grey-color: rgb(165, 165, 165);
$additional-blue-color: rgb(7, 172, 230);
$additional-red-color: rgb(251, 59, 100);
$additional-green-color: rgb(85, 223, 180);
$basic-white-color: rgb(255, 255, 255);
$bg_articles_footer-grey-color: rgb(247, 247, 247);
$pricing_subtitles-color: rgb(19, 37, 59);
$color-primary-shadow: rgba(7, 172, 230, .16);



$breakpoint-desktop: 1000px;