:root {
    --primary-black-color: rgb(0, 0, 0);
    --secondary-blue-color: rgb(8, 166, 228);
    --tertiary-grey-color: rgb(165, 165, 165);
}
* {
    box-sizing: border-box;
}
.btn {
    color: rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    box-shadow: 0.3125rem 0.625rem 0.875rem rgba(7, 172, 230, 0.16);
    border-radius: 2.5rem;
    background: rgba(8, 166, 228, 1) 0 0 no-repeat padding-box;
    text-decoration: none;
    cursor: pointer;
    transition: all 400ms;
    line-height: 0.5;
    padding: 1.375rem 9.8125rem;
    display: inline-block;
}

html, body {
    font-size: 16px;
}

/* HEADER */
.header {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16);
    width: 100%;
    position: sticky;
    top: 0;
}

.header .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 84.5rem;
    /*padding-left: 8.5rem;*/
    /*padding-right: 8.5rem;*/
    margin-inline: auto;
}

.logo {
    margin: 0;
    color: var(--secondary-blue-color);
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    line-height: 1.15625;
    font-size: 2rem;
    cursor: pointer;
}

.menu {
    display: flex;
    text-align: center;
    white-space: nowrap;
    /*max-width: 25.75rem;*/
    justify-content: flex-end;
    gap: 4rem;
}

.menu .menu__item {
    text-decoration: none;
    color: var(--tertiary-grey-color);
    font-family: "Open Sans", sans-serif;
    font-size: 0.6875rem;
    font-weight: 700;
    line-height: 0.9375rem;
    letter-spacing: 0.205rem;
    display: inline-block;
    width: 100%;
    padding-inline: 0.75rem;
    padding-top: 1.71875rem;
    padding-bottom: 1.71875rem;
    /*min-width: 8rem;*/
}

.menu .menu .menu__item:hover {
    color: var(--primary-black-color);
    border-bottom: 0.25rem solid rgb(8, 166, 228);
}

/*  INTRO */

.intro {
    /*background-image: url(../assets/Background.png);*/
    /*background-size: cover;*/
    /*background-position: bottom;*/
    height: 100vh;

}

.intro .intro__bg {

}
.intro .intro__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

.intro__hdl {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 3.0625rem;
    color: var(--primary-black-color);
    line-height: 0.5rem;
    margin-top: 8.125rem;
}

.intro__lead {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 0.5rem;
    color: var(--primary-black-color);
    margin-top: 1.25rem;
    margin-bottom: 2.375rem;
}

.intro__btn {
}


.intro__img {
}

/* SECTION 1*/
.box {
}

.box__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 7.5625rem;
    background-color: rgb(255, 255, 255);
    padding-top: 6.25rem;
}

.box__hdl {
    color: var(--primary-black-color);
    font-family: "Raleway", sans-serif;
    font-size: 2.25rem;
    line-height: 0.1875;
    font-weight: 400;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
}

.box__col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10.28rem;
}

.box__col--inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.box__img {
    margin-bottom: 1.5781rem;
    position: relative;
    z-index: 99;
}

.box__circle--red::before {
    content: "";
    width: 3.9375rem;
    height: 3.9375rem;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 0.5rem;
    background-color:  rgb(251, 59, 100);
}

.box__circle--blue::before {
    content: "";
    width: 3.9375rem;
    height: 3.9375rem;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 1.2rem;
    background-color: rgb(8, 166, 228);
}

.box__circle--green::before {
    content: "";
    width: 3.9375rem;
    height: 3.9375rem;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -0.3rem;
    background-color: rgb(85, 223, 180);
}
.box__span {
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 0.125;
    color: var(--primary-black-color);
    letter-spacing: 0.375rem;
    margin-bottom: 1.1875rem;
}

.box__text {
    color: var(--tertiary-grey-color);
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875;
    text-align: center;
}

.articles {
    /*padding: 5.8333rem 15.6875rem;*/
    background-color: rgb(247, 247, 247);
}
.articles .container{
    text-align: center;
}
.articles__narrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.3125rem;
    width: 70.25rem;
    margin: 0 auto;
    padding-top: 6.5625rem;
    padding-bottom: 6.5625rem;

}

.articles__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 70.25rem;
    background: rgba(255, 255, 255, 1);
    border: 0.0625rem solid rgba(232, 233, 237, 1);
    border-radius: 0.3125rem;
    height: 23.125rem;

}
.articles__row--gap{
    column-gap: 3rem;
    background-color: rgb(247, 247, 247);
}

.articles__col--img {
    width: 50%;
    height: 100%;
    background: rgb(255, 255, 255);
    position: relative;

}

.articles__img {
    max-width: 100%;
    /*width: 24.1525rem;*/
    height: auto;
}
.articles__img--laptop {
    width: 24.125rem;
    height: auto;
    position: absolute;
    order: 1;
    bottom: 30px;
    left: 0px;
}

.articles__img--red{
    width: 11.25em;
    height: 11.25rem;
    border-radius: 2.5625rem;
    background-color: rgb(251, 59, 100);
    transform: rotate(-45deg);
    position: absolute;
    order: 10;
    left:210px;
    bottom: 110px;

}

.articles__img--phone{
    width: 26.625rem;
    height: auto;
    position: absolute;
    order: 1;
    bottom: 10px;
    left: 50px;
}

.article__img--blue {
    width: 20rem;
    height: 20rem;
    background-color: rgb(7, 172, 230);
    border-radius: 50%;
    order: 10;
    position: absolute;
    left: 40px;
    bottom: 30px;
    
}

.articles__img--trumpet{
    position: absolute;
    width: 18.5rem;
    height: auto;
    left: 7.5rem;
    bottom: 3.75rem;
    /*transform: translate(50%, 50%);*/

}
.articles__text--bg {
    background-color: #fff;
    width: 100%;
    height: 23.125rem;;
}
.articles__col--bg {
    background-color: rgb(85, 223, 180);
    height: 23.125rem;
}

.articles__col--text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    /*height: 11.75rem;*/
    /*padding-top: 5.5875rem;*/
    /*padding-bottom: 5.5875rem;*/
    padding-left: 2.1875rem;
    /*padding-right: 5rem;*/
}
.articles__hdl {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 2.25rem;
    color: var(--primary-black-color);
    margin: 0;
    text-align: left;
}

.articles__lead {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    margin: 0;
    padding-top: 1.875rem;
    /*width: 26rem;*/
    /*height: 4.125rem;*/
    position: relative;
}


.articles__lead:after {
    content:"";
    background-color: rgb(251, 59, 100);
    width: 20.5rem;
    height: 0.25rem;
    position: absolute;
    top:120px;
    left:0;
}

.articles__lead--blue:after {
    background-color: rgb(8, 166, 228);
}

.articles__lead--green:after {
    background-color: rgb(85, 223, 180);
}